.style_SkipStroke_2 {
    background: transparent url(Playtime_waves_05.png) repeat scroll top left;
    opacity: 1.00;
}
.style_1 {
    padding: 30px;
}
.style {
    padding: 0px;
}
.paragraph_style_1 {
    color: #59371a;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 5px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_2 {
    color: #59371a;
    font-family: 'Verdana', sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    opacity: 1.00;
}
.style_External_657_115 {
    position: relative;
}
.style_SkipStroke {
    background: transparent url(Kids_green_header_02.png) repeat scroll top left;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_External_641_324 {
    position: relative;
}
.paragraph_style_2 {
    color: #59371a;
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    font-family: 'Verdana', sans-serif;
    font-size: 11px;
    line-height: 13px;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style {
    color: #ffffff;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 58px;
    margin-bottom: 0px;
    margin-left: 23px;
    margin-right: 153px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: #59371a;
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: #ffffff;
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 62px;
    margin-bottom: 0px;
    margin-left: 23px;
    margin-right: 153px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_641_324 {
    position: relative;
}
.Normal {
    padding: 0px;
}
.Normal_External_657_115 {
    position: relative;
}
.Title {
    color: #59371a;
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 5px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent url(Playtime_waves_05.png) repeat scroll top left;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent url(Kids_green_header_02.png) repeat scroll top left;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_3_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_5_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: #59371a;
    text-decoration: underline;
}
a:visited {
    color: #1c2a2d;
    text-decoration: none;
}
a:hover {
    color: #b54a16;
    text-decoration: none;
}
#id3 div.caption {
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
}
#widget1 a:visited {
    color: #1c2a2d;
    text-decoration: none;
}
#widget0 .Comment_Posted_Date {
    color: #59371a;
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Chalkboard Bold', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget0 a:visited {
    color: #1c2a2d;
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget2 .Comment_Posted_Date {
    color: #59371a;
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Chalkboard Bold', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget0 a:hover {
    color: #b54a16;
    text-decoration: none;
}
#widget1 .Caption {
    color: #59371a;
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#widget1 .Comment_Posted_Date {
    color: #59371a;
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Chalkboard Bold', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget2 a {
    color: #59371a;
    text-decoration: underline;
}
#widget2 a:visited {
    color: #1c2a2d;
    text-decoration: none;
}
#widget0 a {
    color: #59371a;
    text-decoration: underline;
}
#widget1 a:hover {
    color: #b54a16;
    text-decoration: none;
}
#widget2 a:hover {
    color: #b54a16;
    text-decoration: none;
}
#id3 canvas {
    z-index: -1;
}
#widget1 {
    display: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget1 a {
    color: #59371a;
    text-decoration: underline;
}
#id3 div.caption span.title {
    color: #59371a;
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: uppercase;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
